<h1>Aktualny czas to: <%= DateTime.now%></h1>

<%if @nightmode%>
    <%= image_tag 'https://lh3.googleusercontent.com/proxy/EMFwGxUvfZoeELRkdVNY3cdaniRkNXLbk5DzMtSbGfbHOJkyhyysagFr9YAkJHjPcT5DnzqVzwMPBDhXi61ARULsJtZTLXHTrs7Ms3tcGM_209elYZwRqhtpjby0'%>
<%else%>
    <%= image_tag 'https://cdn.galleries.smcloud.net/t/galleries/gf-xPgv-TLph-HuDR_lato-664x442-nocrop.jpg'%>
<% end %>